*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url('../img/pattern.png');
    background-color: #4f9ffb;
}

#logo{
    width:20%;
    margin-top: 40px;
}

.container{
    padding: 10px;
}

.grey {
    color: grey;
}

.author {
    color: #4db7e9;
}

.yellow-mark{
    background-color: yellow;
}

th{
    background-color: #44a9e5;
    color: white;
}

.light-blue{
    background-color: #b1e5f2;
}

.white{
    background-color: white;
}

