*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url('../img/pattern.png');
    background-color: blue;
}

#logo{
    width:20%;
    margin-top: 40px;
}

.container{
    padding: 10px;
}

.grey {
    color: grey;
}

.author {
    color: blue;
}

.yellow-mark{
    background-color: yellow;
}